[user]
	name = santiago
	email = santiagobandiera@yahoo.com.ar
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global 
	editor = vim
[alias]
	lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg3 = log --graph --full-history --all --color --pretty=format:'%x1b[31m%h%x09%x1b[32m %C(white)- %d%x1b[0m%x20%s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --date=relative
	lg4 = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	lg = !"git lg4"
    unstage = reset HEAD --

# Setup p4merge as a visual mergetool
# ----------------------
#
#	$ git config --global merge.tool p4mergetool
#	$ git config --global mergetool.p4mergetool.cmd \
#	"/Applications/p4merge.app/Contents/Resources/launchp4merge \$PWD/\$BASE \$PWD/\$REMOTE \$PWD/\$LOCAL \$PWD/\$MERGED"
#	$ git config --global mergetool.p4mergetool.trustExitCode false
#	$ git config --global mergetool.keepBackup false
#
# Setup p4merge as a visual diff tool
# ----------------------
# 
# 	$ git config --global diff.tool p4mergetool
# 	$ git config --global difftool.p4mergetool.cmd \
# 	"/Applications/p4merge.app/Contents/Resources/launchp4merge \$LOCAL \$REMOTE"

[merge]
	tool = p4mergetool
[mergetool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $PWD/$BASE $PWD/$REMOTE $PWD/$LOCAL $PWD/$MERGED
	trustExitCode = false
[mergetool]
	keepBackup = false
[diff]
	tool = p4mergetool
[difftool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $LOCAL $REMOTE
