"\*.js": "#E4AE23",
"\*.hbs": "#E48A23",
"\*.json": "#187A8C",

"\**\/components\/\*.js": "#1976D2",
"\**\/mixins\/\*.js": "#00FBC8",
"\**\/models\/\*.js": "#E44B23",
"\**\/tests\/\**\/\*.js": "#19A355",

"\*.css": "#563D7C",
"\*.cson": "#9278be",
"\*.scss": "#CD679A",
"\*.less": "#2A4F84"
