"\*.js": "#E4AE23",
"\*.ts": "#0077C3",
"\*.hbs": "#e48023",
"\*.html": "#e48023",
"\*.json": "#187A8C",

"\**\/components\/\*.js": "#1976D2",
"\**\/mixins\/\*.js": "#00d9ff",
"\**\/models\/\*.js": "#E44B23",
"\**\/routes\/\*.js": "#78e423",
"\**\/tests\/\**\/\*.js": "#19A355",

"\*.css": "#563D7C",
"\*.cson": "#9278be",
"\*.scss": "#CD679A",
"\*.less": "#2A4F84"
